<mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()" class="hamburguesa">
            =
        </button>

        <ng-template ngFor let-item [ngForOf]="itemsp" let-i="index">
            index{{index}}
        </ng-template>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Personal data
                    </mat-panel-title>
                    <mat-panel-description>
                        <!-- Type your name and age -->
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- 
                <mat-form-field>
                    <input matInput placeholder="First name">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Age">
                </mat-form-field> -->
            </mat-expansion-panel>
        </mat-accordion>
    </div>

</mat-drawer-container>